/* First section css Begins */


.section-1 {

    background-image: url(images/banner/banner2.png);
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;

}

.section-1_Div-1 {

    padding: 200px 100px 0px 900px;
    line-height: 0.5;
}

.bolds {
    color: #000;
    font-size: 50px;
    text-align: right;
    font-weight: bolder;

}

#para_1 {
    color: rgb(75, 72, 72);

    text-align: right;

    line-height: 1.5;

}

.btn {

    color: white;
    text-decoration: none;
    margin-top: 2000px;
    margin-left: 230px;
    padding: 5px 8px 5px 8px;
    background-image: linear-gradient(red, purple);
    border: 2px solid red;
    border-radius: 3px;
    height: 300px;
}

/* First section css Ends */

/* Second section css Begins */

.section_2 {
    margin-top: 20px;
    margin-bottom: 50px;
}

.container {
    display: flex;
    padding: 0%;
}

.flex1 {
    height: 700px;
    padding-left: 100px;

}

.flex2 {


    padding-left: 50px;
    height: 600px;
    padding-top: 100px;
    width: 100%;

    text-align: center;
}

.hd {
    padding-top: 100px;
}

.Mp {

    color: #000;
    font-size: 35px;
    text-align: left;
    font-weight: bolder;
    line-height: 0.5px;

}

#para_2 {
    color: rgb(75, 72, 72);
    text-align: justify;
    line-height: 1.5;


}

.ulist {
    margin-top: 50px;
    line-height: 2;
}

.list {
    padding-left: 0%;
    text-align: left;
    color: rgb(75, 72, 72);
}

/* Second section css ends */

/* Third section css Begins */



.plan {
    text-align: center;
    margin-bottom: 70px;
    font-size: 30px;
    padding-top: 50px;
}

.learn {
    display: flex;
    padding-left: 300px;
}

.lrn {
    padding-left: 50px;
    text-align: justify;
}

.para_3 {
    color: gray;
    font-size: 20px;

}

/* Third section css ends */


/* Fourth section css Begins */

.section_4 {
    background-color: rgb(250, 234, 255);
    height: 700px;
    width: 100%;
    margin-bottom: 100px;
    margin-top: 120px;

}

.inspire {
    width: 300px;
    height: 300px;
}

.learn2 {
    display: flex;

}

/* Fourth section css ends */

/* Fifth section css Begins */

.section_5 {
    background-image: url(images/watch.png);
    margin-left: 260px;
    height: 220px;
    width: 800px;
    background-repeat: no-repeat;
    position: relative;

}

.watch {


    height: 220px;
    width: 800px;
    background-image: linear-gradient(to right, rgb(185, 0, 0), rgb(40, 105, 130));
    position: absolute;
    opacity: 0.7;
}

#watch {

    padding-left: 30px;
    position: absolute;
    padding-top: 30px;
    color: white;
    font-size: 25px;
    font-weight: 900;
    line-height: 0.1;



}

.btn2 {
    color: #fff;
    text-decoration: none;
    font-size: medium;
    padding: 10px 8px 10px 8px;
    background-image: linear-gradient(gold, black);
    border: 2px solid rgb(255, 60, 0);
    border-radius: 5px;


}

/* Fourth section css ends */


/* footer css begins */

footer {
    height: 500px;
    margin-top: 100px;
    background-color: black;
}

.div1 {
    width: 50%;
    padding-left: 200px;
    padding-top: 100px;
}

.parent {
    color: white;
    display: flex;
}

.btn3 {
    margin-top: 50px;
    color: white;
    text-decoration: none;
    padding: 5px 3px 5px 3px;
    background-color: green;
    border: 2px solid red;
    border-radius: 3px;

}

#para_4 {
    color: #d4c5c5;
    line-height: 1.5;

}

.txt {
    height: 34px;
    width: 300px;
}

#icon {

    padding-left: 20px;
}

/* 

6*/